@charset "utf-8";
/* @font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
} */
@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
ul {
  list-style: none;
}
html {
  font-size: 10px;
  word-break: keep-all;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.3rem;
}
/* 공통 클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
/* section */
.wrap > section {
  padding: 30px 0 90px 0;
}
.section-top {
  text-align: center;
}
.section-top > h2 {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-top > p {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.section-top .btns {
  margin: 25px 0;
}
.section-top .btns a {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  line-height: 42px;
  font-size: 14px;
  color: #111;
  background: #fff;
  margin-right: 6px;
}
.btns-active {
  background-color: #111 !important;
  color: #fff !important;
}
.section-bottom {
  text-align: center;
}
.bt-link-shop {
  display: inline-block;
  font-size: 16px;
  line-height: 56px;
  padding: 0 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  color: #333;
  font-weight: 700;
  margin-top: 20px;
}
.bt-link-shop::after {
  content: "";
  background: url("../images/icon_linkArrow.svg") no-repeat center;
  width: 17px;
  height: 11px;
  display: inline-block;
}
/* swiper button */
.sw-bt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  font-size: 0;
  cursor: pointer;
}
.sw-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 99;
}
.sw-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.sw-bt::before {
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 4px);
  content: "";
  width: 8px;
  height: 16px;
  background: url("../images/slider_arrow.svg") no-repeat center;
}
.sw-prev::before {
  transform: scaleX(-100%);
}
/* 상단 */
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .inner {
  padding-top: 30px;
  height: 160px;
}
.header-up {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.logo {
  width: 118px;
  height: 50px;
  background: url("../images/logo.svg") no-repeat center / contain;
  display: block;
  /* background-size: contain; */
}
.header-left {
  display: flex;
  gap: 20px;
}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 455px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 0 15px;
  overflow: hidden;
  background-color: #fff;
}
.search-text {
  width: calc(100% - 53px);
  height: 50px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}
.search-text::placeholder {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 700;
}
.search-bt {
  background: url("../images/btn_search.svg") no-repeat center;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
}
.search-reset {
  width: 16px;
  height: 16px;
  background: url("../images/btn_searchDelete.svg");
  border: none;
  font-size: 0;
  cursor: pointer;
}
/* 상단 오른쪽 */
.header-right {
  display: flex;
  align-items: center;
}
.member-list {
  display: flex;
  gap: 20px;
  /* margin-top: 17px; */
}
.member-list > li {
  /* margin-right: 20px; */
}
.member-list > li > a {
  font-size: 15px;
  color: #111;
  font-weight: 500;
}
.mb-mypage {
  display: none;
}
.mypage-bt {
  position: relative;
}
.mypage-bt:hover .mypage {
  display: block;
}
.mypage {
  display: none;
  width: 125px;
  position: absolute;
  top: 35px;
  right: 0;
  background: #fff;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.mypage-list li a {
  line-height: 1.2;
}
.icon-arrow {
  display: inline-block;
  width: 8px;
  height: 5px;
  background: url("../images/arrow_pc.svg") no-repeat center;
  vertical-align: 2px;
  margin-left: 5px;
}
/* 상단 아랫부분 */
.header-down {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 11px;
}
.service-list {
  display: flex;
  gap: 23px;
}
.service-list li a {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 30px;
}
.service-list li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.service-menu li a {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  padding: 0 12px;
}
.service-menu li a::before {
  content: "";
  width: 2px;
  height: 16px;
  background: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
}
/* 추천 이벤트 */
.promotion .inner {
  height: 345px;
}
.promotion .section-top {
  margin-bottom: 20px;
}
.promotion .section-top {
  display: none;
}
.promotion-slide {
  height: 100%;
}
.sw-promotion a {
  display: block;
  border-radius: 13px;
  overflow: hidden;
}
.sw-promotion a img {
  width: 100%;
  height: auto;
}
/* 쇼핑 추천 */
.sw-shopping {
  height: 100%;
}
.good {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #eeeeee;
  text-align: center;
  overflow: hidden;
}
.good img {
  width: 100%;
  mix-blend-mode: multiply;
}
.good-info {
  background-color: #fff;
  padding: 20px;
  text-align: left;
}
.good-info-list li b {
  font-size: 20px;
  line-height: 24px;
  color: #111;
  font-weight: 700;
  white-space: nowrap;
}
.good-info-list li b span {
  color: #ef3e43;
}
.good-info-list li p {
  /* 3. display: -webkit-box */
  display: -webkit-box;
  font-size: 15px;
  line-height: 18px;
  color: #111;
  margin-top: 10px;
  /* 내용이 1줄일 수도 있고 최대 2줄이다 */
  /* 높이값을 지정해서 레이아웃을 지킨다. */
  /* 내용이 넘치는 경우 ... 처리 */
  /* 카페에 적어둘께요. 2줄 말줄임 */
  /* 1. 높이가 있어야 합니다. */
  height: 37px;
  /* 2. 넘치는 영역을 가린다. */
  overflow: hidden;
  /* 4. text-overflow: elipsis */
  text-overflow: ellipsis;
  /* 5. 아래 코드를 입력한다. */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 투어특가 */
.sw-tour {
  width: 100%;
}
.tour-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.tour-img {
  position: relative;
  width: 100%;
  max-height: 245px;
  /* 1280px 일때 높이가 245 px 이다. */
  /* 1280px 이 100vw 라면  */
  /* 245px 은 몇 vw 일까? */
  /*  245 / 1280 * 100  */
  height: 19.14vw;
  overflow: hidden;
}
.tour-img img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}
.tour-info {
  padding: 20px;
  background-color: #fff;
}
.tour-info-list li {
  position: relative;
  margin-bottom: 3px;
}
.tour-cate {
  display: inline-block;
  position: absolute;
  top: -39px;
  left: 0;
  background: #4a95ff;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
  border-radius: 3px;
}
.tour-title {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #4a95ff;
  /* 1줄 말줄임 ...  */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tour-price {
  color: #111;
  font-size: 16px;
  line-height: 24px;
}
.tour-price b {
  font-weight: 700;
  font-size: 20px;
}
.tour-place {
  color: #111;
}
/* 티켓 랭킹 */
.sw-ticket {
  height: 100%;
}
.ticket-link {
  display: block;
  width: 100%;
  height: 100%;
}
.ticket-img {
  position: relative;
  width: 100%;
  max-height: 400px;
  /* 1280px 일때 높이가 400 px 이다. */
  /* 1280px 이 100vw 라면  */
  /* 400px 은 몇 vw 일까? */
  /*  400 / 1280 * 100  */
  height: 31.25vw;
  overflow: hidden;
  border-radius: 10px;
}
.ticket-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}
.ticket-rank {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.ticket-img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)),
    linear-gradient(180deg, transparent 68.5%, rgba(0, 0, 0, 0.6));
}
.ticket-info {
  padding: 20px 10px;
  background-color: #fff;
}
.ticket-info-list li {
  margin-bottom: 5px;
}
.ticket-info-list li:first-child {
  margin-bottom: 0px;
}
.ticket-title {
  /* 2줄 ... 처리 */
  display: -webkit-box;
  color: #111;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ticket-hall {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #666;
  /* 1줄 ... 처리 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ticket-date {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}
.ticket-sale {
  display: inline-block;
  line-height: 24px;
  font-size: 11px;
  padding: 0 8px;
  color: #ef3e43;
  border: 1px solid rgba(239, 62, 67, 0.3);
  border-radius: 3px;
}
/* 인터파크 라이브 */
.live .section-top{
  margin-bottom: 25px;
}
.section-slide{
  height: 455px;
}
.sw-live{
  height: 100%;
}
.live-link{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.live-img{
  width: 100%;
  height: 100%;
  position: relative;
}
.live-img img{
  /* width: 100%; */
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%) scale(1.1);
}
.live-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.live-info-cate{
  display: inline-block;
  font-size: 13px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 12px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.live-info-title{
  display: -webkit-box;
  font-size: 20px;
  line-height: 24px;
  /* 2줄 말줄임 출력 */
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 700;
  color: #fff;
}
.live-info-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 100%;
  text-align: center;
}
.live-info-date{
  color: #fff;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 5px;
}
.live-info-time{
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}
.live-info-bottom{
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}  
.live-info-thumb{
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 3px;
  overflow: hidden;
}
.live-info-thumb img{
  /* width: 100%; */
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.live-info-desc{
  width: calc(100% - 65px);
}
.live-info-desc-title{
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}
.live-info-desc-price {
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}
.live-info-desc-price em {
  color: #ef3e43;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
.live-info-desc-price b {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
/* 오늘의 도서 */
.sw-books{
  height: 100%;
}
.books-link{
  display: block;
  width: 100%;
  height: 100%;
}
.books-img{
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.books-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
.books-info{
  text-align: center;
}
.books-info-title {
  font-size: 15px;
  line-height: 18px;
  /* 1줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0;
}
.books-info-price {
  font-size: 16px;
}
.books-info-price em {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}
/* 이벤트 */
.event .section-top{
  margin-bottom: 20px;
}
.event .section-slide{
  height: 350px;
}
.sw-events{
  height: 100%;
}
.events-link{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #f7f7f7;
  overflow: hidden;
}
.events-link img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mix-blend-mode: multiply;
}
/* 하단 */
.footer-menu{
border-top: ;
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
}
.footer-menu-list{
  display: flex;
  justify-content: space-between;
}
.footer-menu-list > li{
  position: relative;
}
.footer-menu-list > li::after{
  content: "";
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0;
  right: -36px;
  background: rgba(0, 0, 0, 0.3);
}
.footer-menu-list > li:last-child::after{
  content: none;
}
.footer-menu-list > li > a{
  font-size: 13px;
  line-height: 16px;
  color: #333;
  white-space: nowrap;
}
.footer-menu-list > li > a > strong{
  font-weight: 700;
}
.footer-menu-list > li > a > i::before{
  display: inline-block;
  position: relative;
  content: "";
  width: 8px;
  height: 6px;
  background: url("../images/icon_arrow.svg")no-repeat center;
  margin-left: 4px;
  vertical-align: 2px;
}
.more-list{
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 17px;
  background: #fff;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 9999;
  width: 110px;
}
.footer-menu-list > li:hover .more-list{
  display: block;
}
.more-list li{
  margin-bottom: 14px;
}
.more-list li:last-child{
  margin-bottom: 0;
}
.more-list li a{
  white-space: nowrap;
  font-size: 13px;
  color: #333;
}
/* 하단 메인 */
.footer-main{
  padding-top: 30px;
  padding-bottom: 55px;
}
.footer-main .inner{
  display: flex;
}
.footer-main-left ,.footer-main-right{
  display: flex;
}
.company-name{
  font-size: 15px;
  font-weight: 700;
  color: #111;
  margin-right: 10px;
  white-space: nowrap;
}
.company-info{
  width: 80%;
}
.company-info li{
  font-size: 12px;
  line-height: 17px;
  color: #666;
  margin-bottom: 15px;
}
.company-info li:last-child{
margin-bottom: 0;
}
.company-info li span.f-line::after{
  display: inline-block;
  position: relative;
  content: "";
  width: 1px;
  height: 10px;
  background: #b2b2b2;
  vertical-align: -1px;
  margin: 0 3px;
}
.company-info li a{
  color: #666;
}
.company-info li a.line{
  color: #4a95ff;
  text-decoration: underline;
}
.company-info li b {
  color: #111;
  font-weight: 700;
}
.company-info li p {
  font-size: 11px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}