@charset "utf-8";
@media screen and (max-width:1280px) {
    .inner{
        max-width: 1024px;
    }
}
@media screen and (max-width:1024px) {
    .inner{
        padding: 0 20px;
        padding-bottom: 20px;
        max-width: 760px;
        border-bottom: 8px solid #f0f4f4;
    }
    .header{
        border-bottom: none;
    }
    .header .inner{
        padding-top: 15px;
        height: 230px;
    }
    .logo{
        width: 77px;
        height: 18px;
        padding-top: 50px;
    }
    .header-left{
        width: 100%;
    }
    .search{
        position: absolute;
        top: 157px;
        left: 50%;
        transform: translateX(-50%);
    }
    .member-list{
        display: none;
    }
    .mb-mypage{
        display: block;
    }
    .service-menu{
        display: none;
    }
    .header-down{
        justify-content: center;
    }
    /* .service-list li a{
        display: flex;
        flex-direction: column;
    } */
    .service-list li{
        display: flex;
        width: 48px;
    }
    .service-list li a{
        font-size: 12px;
        text-align: center;
    }
    .service-list li a img{
        width: 48px;
        height: 48px;
        margin: 0;
    }
    .header-left{
        flex: none;
    }
}